.main {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.App{
  width: 80%;
  margin: 12px auto;
}

.header{
  background-color: rgb(99, 88, 88);
  color: white;
  display: flex;
}

.header p{
  margin: 18px 6px;
}
.p1{
  font-size: 16px;
}


